<footer  class="pt-4 my-md-4 pt-md-5 border-top w-100 p-3 foter">

  <div class="row">
      <aside class="col-12 col-md m-5">
        <small class="d-block mb-3 text-muted">© 2021-2021</small>
      </aside>
    <aside class="col-6 col-md">
      <h5 class="text-primary">Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="p-2 text-dark" href="#">Customer resources</a></li>
        <li><a class="p-2 text-dark" href="#">Contact us</a></li>
        <li><a class="p-2 text-dark" href="#">Contracts and Regulations</a></li>
      </ul>
    </aside>
    <aside class="col-6 col-md">
      <h5 class="text-primary">Facily</h5>
      <ul class="list-unstyled text-small">
        <li><a class="p-2 text-dark" href="#">Enterprise</a></li>
        <li><a class="p-2 text-dark" href="#">Advice to Users</a></li>
        <li><a class="p-2 text-dark" href="#">Consumer Protection Code</a></li>
      </ul>
    </aside>
  </div>

</footer>
