<br />
<br />
<br />
<br />
<br />
<br />



<div [formGroup]="form" class="ml-4">
  <div style="display: flex;">
    <input class="form-control mr-sm-2" style="width: 300px;" formControlName="codigo" placeholder="Pesquisar"
      aria-label="Pesquisar">
    <button class="btn btn-outline-primary my-2 my-sm-0" (click)="listarPedidos()">Pesquisar</button>
  </div>

  <br />

  <textarea style="width: 300px; height: 300px;" [(ngModel)]="descricao" class="form-control ml-4" rows="3"
    name="descricao" formControlName="descricao">
  </textarea>
</div>