<div [formGroup]="form" class="ml-4 search">
  <div style="display: flex;" class="ml-4">
    <input class="form-control mr-sm-2" style="width: 300px;" formControlName="codigo" placeholder="Pesquisar"
      aria-label="Pesquisar">
    <button class="btn btn-outline-primary my-2 my-sm-0" (click)="listarPedidos()">Pesquisar</button>
  </div>


  <textarea style="width: 500px; height: 300px; resize: none;" [(ngModel)]="descricao" class="form-control ml-4 mt-3" rows="3"
    name="descricao" formControlName="descricao">
  </textarea>
</div>
